.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F3E8EE;
    box-shadow: 5px 5px #554d4b;
    border-radius: 10px;
    
}

.navbar li {
    float:left;
    color:black;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color:black;
}

.navbar li a:hover {
    background-color: #BFACB5;
}
